<h1>{{title}}</h1>

<div class="container">

  <form action="">
  
    Numero 1: <input type="number" name="numero1" [(ngModel)]="numero1"> <br/>
    {{numero1}} <br/>
    Numero 2: <input type="number" name="numero2" [(ngModel)]="numero2"> <br/> 
    {{numero2}} <br/>
    <input class="btn btn-primary" type="button" value="Sumar" (click)="sumar()"> <br/>
    <input class="btn btn-danger" type="button" value="Restar" (click)="restar()"> <br/>
    <input class="btn btn-warning" type="button" value="Multiplicar" (click)="multiplicar()"> <br/>
  
    
  </form>
  
</div>

<p>{{resultado}}</p>