<h1> {{ title }} </h1>

<div class="container">
    <div class="col">

        <form class="form-group">

                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" [(ngModel)]="cuadroNombre">

                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" [(ngModel)]="cuadroApellido">
                
                <label for="cargo">Cargo</label>
                <input type="text" name="cargo" [(ngModel)]="cuadroCargo">
                
                <label for="salario">Salario</label>
                <input type="number" name="salario" [(ngModel)]="cuadroSalario">

                <button class="btn btn-primary" (click)="nuevoEmpleado()">Crear empleado</button>

        </form>

        <div class="row" *ngFor="let empleado of empleados">
            <p>Nombre: {{ empleado.nombre }}</p>
            <p>Apellido: {{ empleado.apellido }}</p>
            <p>Puesto: {{ empleado.cargo }}</p>
            <p>Salario: ${{ empleado.salario }}</p>
            <br>
            <br>
        </div>

    </div>
</div>